.Post {
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}


.CountNumber {
    color: #fff;
}

.Card {
    padding: 16px;
    background-color: #ffb5b5;
}

.Title {
    color: #fff;
}

.Circle {
    position: absolute !important;
    top: 6px;
    left: 6px;
    background-color: #1c1c1c8c !important;
    z-index: 2!important;
}

@media only screen and (max-width: 600px) {
    .Post {
        margin-right: 8px;
        margin-left: 8px;
    }
}