.Post {
  background-color: #f6f4f4;
  border: 1px solid #dadadf;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;  
}
  
.Post figure,
  h5 {
  margin: 0 0;
}
  
.Heart {
  color: #f85032;
}
  
.Heart:hover {
  color: #2142b2;
}
  
.HeartOutline:hover {
  color: #f85032;
}

.Reviews:hover {
  color: #8a8a8a;
}

span .NoReview {
    margin-top: 16px;
    align-items: center;
  }